# macOS
.DS_Store

# IDE configurations
.vscode/
.idea/

# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

# Ignore application configuration
src/main/resources/application.yml
